<!DOCTYPE html>
<head><title>Full File Results for {{ login }}/{{ repoOnly }} </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"> 
    <meta charset=utf-8> </head>
    <body>
        <button><a href="{{ url_for('home', username=username) }}">Home</a></button>
        <button><a href="{{ url_for('selectRepo', username=username) }}">Change Repository</a></button>
        <button><a href="{{ url_for('fileSearch', username=username, login=login, repoOnly=repoOnly) }}">Change Filename</a></button>
        <ul>
            {% for score in finalScoreList%}
                <li>{{ score }}</li>
            {% endfor %}
        </ul>
    </body>